.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
}

.img-fluid {
    object-fit: cover;
}

.title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    color: #333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  margin-top: 20px; 
  text-align: left;
  margin-bottom: 50px; 
  font-size: 30px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field {
  font-size: 1.50rem;
  height: 38px;
  margin-bottom: 10px;  
}


.btn-icon {
  width: 20px;
  height: 20px;
}

.input-field {
  padding: 15px; 
}

.social-icon {
  width: 25px; 
}


body {
  background-color: #336699; 
  font-family: Arial, sans-serif; 
  color: #FFFFFF; 
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-header {
  font-size: 3em; 
  margin-bottom: 20px; 
}

.social-help-img {
  width: 300px;
  height: 300px;
  
}

.user-action-text {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}


/* Menun Principal */


.footermenu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #033E8C;
  color: black;
  text-align: center;
}


.title-menu {
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  font-size: 3.0em;
  color: #033E8C;
  position: relative;
  top: 70px;
  left: 20px;
}



.barra-pesquisa {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.barra-pesquisa input[type="text"] {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 60px;
  font-size: 16px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  outline: none;
}




.iconecadmorador {
  background-color: #033E8C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
}

.cadmorador {
  background-color: #EAEAEA;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
}



.iconecadONG {
  background-color: #033E8C;
  border: none;
  color: white;
  padding: 15px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0px;
  cursor: pointer;
}

.cadONG {
  background-color: #EAEAEA;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 67px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0px;
  cursor: pointer;
}


.iconerelatorio {
  background-color: #033E8C;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
}

.relatorio {
  background-color: #EAEAEA;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 92px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
}



.botao-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
 
.login-page body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px; /* Aumente o tamanho da fonte para 32px */
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 24px; /* Aumente o tamanho da fonte para 24px */
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 20px; /* Aumente o tamanho da fonte para 20px */
}

.form-container textarea {
  resize: vertical;
  min-height: 100px;
}

.form-container .button-container1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-container .button-container1 button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px; /* Aumente o tamanho da fonte para 20px */
}

.form-container .button-container button.add-button,
.form-container .button-container button.delete-button {
  background-color: #fff;
  color: #063585;
  border: 1px solid #063585;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #063585;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}
