.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
}

.img-fluid {
    object-fit: cover;
}

.title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    color: #333;
}
